In [1]:
import requests
import pandas as pd
from env import api_key
from acquire import acquire
from datetime import timedelta, datetime

In [2]:
df = acquire()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1260 entries, 2017-01-10 to 2022-01-10
Data columns (total 100 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MSFT_price   1260 non-null   float64
 1   AAPL_price   1260 non-null   float64
 2   TSLA_price   1259 non-null   float64
 3   SNDL_price   615 non-null    float64
 4   NIO_price    836 non-null    float64
 5   F_price      1253 non-null   float64
 6   AMC_price    1254 non-null   float64
 7   AMD_price    1259 non-null   float64
 8   AMZN_price   1260 non-null   float64
 9   DIS_price    1260 non-null   float64
 10  NFLX_price   1260 non-null   float64
 11  LCID_price   324 non-null    float64
 12  NVDA_price   1260 non-null   float64
 13  GPRO_price   1256 non-null   float64
 14  PLUG_price   1239 non-null   float64
 15  SNAP_price   1223 non-null   float64
 16  FB_price     1260 non-null   float64
 17  AAL_price    1255 non-null   float64
 18  HOOD_price   115 non-null    float64
 19  PFE_price    1251 non-null   float64
 20  BABA_price   1260 non-null   float64
 21  ACB_price    1252 non-null   float64
 22  BAC_price    1257 non-null   float64
 23  VOO_price    1260 non-null   float64
 24  ZOM_price    1011 non-null   float64
 25  NOK_price    1244 non-null   float64
 26  CCL_price    1260 non-null   float64
 27  SPY_price    1260 non-null   float64
 28  DAL_price    1257 non-null   float64
 29  PLTR_price   323 non-null    float64
 30  OGI_price    661 non-null    float64
 31  SBUX_price   1257 non-null   float64
 32  T_price      1254 non-null   float64
 33  TWTR_price   1255 non-null   float64
 34  TLRY_price   876 non-null    float64
 35  RIVN_price   42 non-null     float64
 36  MRNA_price   779 non-null    float64
 37  COIN_price   189 non-null    float64
 38  GME_price    1251 non-null   float64
 39  CGC_price    1259 non-null   float64
 40  BB_price     1247 non-null   float64
 41  PYPL_price   1259 non-null   float64
 42  GOOGL_price  1260 non-null   float64
 43  KO_price     1255 non-null   float64
 44  ZNGA_price   1236 non-null   float64
 45  FCEL_price   1230 non-null   float64
 46  GM_price     1260 non-null   float64
 47  SPCE_price   1051 non-null   float64
 48  UBER_price   674 non-null    float64
 49  GE_price     1252 non-null   float64
 50  UAL_price    1259 non-null   float64
 51  PSEC_price   1239 non-null   float64
 52  NCLH_price   1260 non-null   float64
 53  WKHS_price   1248 non-null   float64
 54  NAKD_price   1239 non-null   float64
 55  RBLX_price   213 non-null    float64
 56  ABNB_price   273 non-null    float64
 57  IDEX_price   1244 non-null   float64
 58  SQ_price     1257 non-null   float64
 59  BA_price     1260 non-null   float64
 60  DKNG_price   578 non-null    float64
 61  CRON_price   975 non-null    float64
 62  DWAC_price   71 non-null     float64
 63  CHPT_price   511 non-null    float64
 64  NKLA_price   762 non-null    float64
 65  JNJ_price    1259 non-null   float64
 66  VTI_price    1259 non-null   float64
 67  SIRI_price   1237 non-null   float64
 68  LUV_price    1257 non-null   float64
 69  WMT_price    1258 non-null   float64
 70  QQQ_price    1260 non-null   float64
 71  GNUS_price   1244 non-null   float64
 72  PTON_price   578 non-null    float64
 73  XOM_price    1259 non-null   float64
 74  NKE_price    1260 non-null   float64
 75  RIOT_price   1250 non-null   float64
 76  MRO_price    1256 non-null   float64
 77  WISH_price   268 non-null    float64
 78  ARKK_price   1258 non-null   float64
 79  OCGN_price   1245 non-null   float64
 80  SONY_price   1260 non-null   float64
 81  JBLU_price   1259 non-null   float64
 82  V_price      1259 non-null   float64
 83  SOFI_price   258 non-null    float64
 84  RCL_price    1260 non-null   float64
 85  BNGO_price   834 non-null    float64
 86  CPRX_price   1239 non-null   float64
 87  RYCEY_price  1242 non-null   float64
 88  CLOV_price   397 non-null    float64
 89  ET_price     1254 non-null   float64
 90  PENN_price   1257 non-null   float64
 91  COST_price   1260 non-null   float64
 92  ZM_price     689 non-null    float64
 93  IVR_price    1248 non-null   float64
 94  INTC_price   1258 non-null   float64
 95  NRZ_price    1251 non-null   float64
 96  INO_price    1252 non-null   float64
 97  FUBO_price   679 non-null    float64
 98  GSAT_price   1165 non-null   float64
 99  TSM_price    1256 non-null   float64
dtypes: float64(100)
memory usage: 1.0 MB

In [4]:
df.tail(5)

,MSFT_price,AAPL_price,TSLA_price,SNDL_price,NIO_price,F_price,AMC_price,AMD_price,AMZN_price,DIS_price,...,PENN_price,COST_price,ZM_price,IVR_price,INTC_price,NRZ_price,INO_price,FUBO_price,GSAT_price,TSM_price
date,,,,,,,,,,,,,,,,,,,,,
2022-01-04,329.01,179.70,1149.59,0.6410,31.58,24.310,25.49,144.420,3350.44,155.73,...,49.77,564.23,179.850,2.980,53.14,10.98,5.02,15.810,1.160,133.40
2022-01-05,316.38,174.92,1088.12,0.6120,29.88,23.660,22.75,136.150,3287.14,155.19,...,46.61,549.92,174.880,2.920,53.87,10.68,4.67,14.160,1.070,127.06
2022-01-06,313.88,172.00,1064.70,0.5820,29.31,24.460,22.46,136.230,3265.08,156.90,...,46.86,549.80,176.330,2.930,54.01,10.77,4.65,13.920,1.060,128.47
2022-01-07,314.04,172.17,1026.96,0.5960,29.30,24.440,22.99,132.000,3251.08,157.83,...,47.28,536.18,171.600,2.990,53.44,10.87,4.61,13.970,1.070,123.50
2022-01-10,306.37,168.49,1010.57,0.5867,28.43,23.575,22.00,126.085,3156.14,155.59,...,45.71,509.59,167.495,2.886,54.13,10.86,4.71,13.019,1.055,124.01