In [2]:
import requests
import pandas as pd
from env import api_key
from acquire import get_data, extract_date_and_price
from datetime import timedelta, datetime

In [25]:
def get_day_gainers():
    
    # defining the url to make the request too
    url = 'https://yfapi.net/ws/screeners/v1/finance/screener/predefined/saved?count=250&scrIds=day_gainers'

    # passing in api_key
    headers = {
        'x-api-key': api_key
        }

    # Sending Request
    response = requests.request("GET", url, headers=headers)
    
    # Saving request response to data
    data = response.json()
    
    # Creating an empty list to grab the symbols 
    list_of_symbols = []

    # Going to be looping through the list of quotes
    quotes = data['finance']['result'][0]['quotes']

    # Loop through quotes and save symbol to list
    for quote in quotes:
        list_of_symbols.append(quote['symbol'])
    
    return list_of_symbols

In [27]:
get_day_gainers()

['VORB',
 'INPOY',
 'DISCA',
 'DISCK',
 'EGRNF',
 'ESBA',
 'TUYA',
 'EXAI',
 'BEKE',
 'LCID',
 'DLO',
 'EGFEF',
 'ZGN',
 'VIAC',
 'VIACA',
 'CIG-C',
 'VIPS',
 'SBGI',
 'GME',
 'PDD',
 'CIADY',
 'ARGGY',
 'HRSHF',
 'AA',
 'USNZY',
 'FUTU',
 'CIAFF',
 'KC',
 'EGFEY',
 'ACH',
 'VALE',
 'SPCE',
 'EVGRF',
 'LUMN',
 'CVI',
 'HIMX',
 'DKNG',
 'PTR',
 'SID',
 'SKFRY',
 'VLRS',
 'CTRA',
 'AEG',
 'PNGAY',
 'PAX',
 'DRH',
 'WF',
 'AHCHY',
 'LMND',
 'BCLYF',
 'PTON',
 'BZ',
 'HST',
 'CAIXY',
 'GKOS',
 'ESMT',
 'ACDVF',
 'NXE',
 'EQT',
 'TCNNF',
 'EGIEY',
 'TECK',
 'IQ',
 'CIHKY',
 'ENLC',
 'PEB',
 'UTZ',
 'UWMC',
 'DISH',
 'NVAX',
 'VERX',
 'CD',
 'SSU',
 'BDRBF',
 'PK',
 'CIT',
 'CCJ',
 'FCNCA',
 'KMPR',
 'MNSO',
 'ULCC',
 'NCLH',
 'NKLA',
 'CRZBY',
 'PBCRY',
 'GO',
 'NHYDY',
 'RCL',
 'HLPPY',
 'ABNB',
 'MT',
 'CCL',
 'RYAAY',
 'FSLY',
 'ARVL',
 'BPAQF',
 'VRNOF',
 'TEVA',
 'MRRTY',
 'CHKP',
 'CHK',
 'AAL',
 'HKXCY',
 'CGC',
 'RPRX',
 'FNMAK',
 'PGR',
 'CURLF',
 'HDB',
 'WU',
 'AB',
 'CAG',
 'DADA',
 'PILBF',
 'BHP',
 'IFS',
 'LW',
 'IVPAF',
 'SHLS',
 'SPR',
 'CZR',
 'SAM',
 'DAL',
 'NGLOY',
 'VEOEY',
 'BBL',
 'TRMLF',
 'FBP',
 'BSM',
 'W',
 'CFLT',
 'JKS',
 'CNQ',
 'THS',
 'ITUB',
 'MTG',
 'BGS',
 'UAL',
 'LRENY',
 'FCX',
 'CUK',
 'LUV',
 'NMIH',
 'BALY',
 'PCG',
 'CAH',
 'SAVE',
 'PGRE',
 'ZIP',
 'FSUGY',
 'BRZE',
 'TDS',
 'JHG',
 'SBSW',
 'NLSN',
 'RIO',
 'XMTR',
 'MMLTF',
 'DNBBY',
 'FRSH',
 'BEN',
 'MAKSY',
 'BXSL',
 'NXST']

In [23]:
# Grabbing the price of the most popular 250 stocks for the last 5 years
df = pd.DataFrame()

for y in range(10, 40, 10):
    
    # Setting x to 10 less than y
    x = y-10
    
    # Created an emtpy string
    placeholder = ""
    
    # Creating a placeholder string from list of symbols
    for index, symbol in enumerate(list_of_symbols[x:y]):
        
        # Resetting temp as an empty Data Frame
        temp = pd.DataFrame()
        
        # if index is equal to nine then this is last symbol and doesn't require a comma at the end
        if index == 9:
            placeholder += symbol
            
        # All other index's will require a comma
        else:
            placeholder += symbol + ","
            
    # Using requests to get the last 5 years of the 5 stocks saved under placeholder
    response = requests.request("GET", f'https://yfapi.net/v8/finance/spark?interval=1d&range=5y&symbols={placeholder}', headers=headers)
    data = response.json()
    
    # Using the function defined above to create a Data Frame
    temp = extract_date_and_price(data)
    
    df = pd.concat([df, temp], axis = 1)

In [24]:
df

,VORB_price,LCID_price,BEKE_price,EGRNF_price,DISCK_price,EXAI_price,INPOY_price,DISCA_price,ESBA_price,TUYA_price,...,AA_price,FUTU_price,ARGGY_price,CIADY_price,EGFEY_price,ACH_price,KC_price,CIAFF_price,HRSHF_price,USNZY_price
date,,,,,,,,,,,,,,,,,,,,,
2017-01-09,NaN,NaN,NaN,0.69,26.25,NaN,NaN,26.87,19.65,NaN,...,29.48,NaN,NaN,18.79,0.350,10.37,NaN,0.345,NaN,1.44
2017-01-10,NaN,NaN,NaN,NaN,25.76,NaN,NaN,26.34,19.90,NaN,...,30.98,NaN,NaN,NaN,0.350,10.64,NaN,0.357,NaN,1.43
2017-01-11,NaN,NaN,NaN,NaN,25.99,NaN,NaN,26.51,19.63,NaN,...,31.97,NaN,NaN,NaN,0.362,11.28,NaN,0.410,NaN,1.41
2017-01-12,NaN,NaN,NaN,NaN,26.65,NaN,NaN,27.20,19.71,NaN,...,33.04,NaN,NaN,NaN,0.362,11.03,NaN,0.415,NaN,1.47
2017-01-13,NaN,NaN,NaN,0.69,26.82,NaN,NaN,27.40,19.68,NaN,...,33.01,NaN,NaN,NaN,0.359,11.02,NaN,0.600,NaN,1.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-03,7.30,40.93,19.72,0.20,24.59,20.31,6.18,25.33,9.29,5.77,...,60.36,42.06,18.29,57.44,0.496,14.09,14.77,3.965,4.05,2.68
2022-01-04,6.83,39.41,17.60,0.21,25.94,20.61,5.70,26.75,9.51,5.70,...,57.53,37.40,18.81,56.73,0.484,13.70,13.79,4.085,3.98,2.63
2022-01-05,6.29,36.68,17.09,NaN,25.68,18.57,5.84,26.45,9.42,4.90,...,58.55,36.09,18.10,55.85,0.470,13.25,12.83,4.070,NaN,2.49
2022-01-06,6.49,38.22,18.93,0.21,25.12,18.19,5.75,25.72,10.08,4.92,...,58.45,39.54,18.62,55.74,0.469,13.25,12.72,4.040,3.98,2.49
2022-01-07,8.06,41.98,20.87,0.24,29.34,20.06,6.84,30.06,11.16,5.44,...,62.37,41.99,19.90,59.58,0.497,14.02,13.50,4.290,4.25,2.65

In [21]:
for y in range(10, 40, 10):
    
    # Setting x to 10 less than y
    x = y-10
    
    print(x, y)

0 10
10 20
20 30

In [28]:
total = 156

In [65]:
if total%10 !=0:
    print("not divisible by 10")

not divisible by 10

In [38]:
total // 10

15

In [43]:
list_of_symbols = get_day_gainers()

In [52]:
total = len(list_of_symbols)
end = ((total//10)*10)+10

164

In [53]:
end = ((total//10)*10)+10
end

170

In [49]:
for y in range(10, end, 10):
    
    # Setting x to 10 less than y
    x = y-10
    
    print(list_of_symbols[x:y])

['VORB', 'INPOY', 'DISCA', 'DISCK', 'EGRNF', 'ESBA', 'TUYA', 'EXAI', 'BEKE', 'LCID']
['DLO', 'EGFEF', 'ZGN', 'VIAC', 'VIACA', 'CIG-C', 'VIPS', 'SBGI', 'GME', 'PDD']
['CIADY', 'ARGGY', 'HRSHF', 'AA', 'USNZY', 'FUTU', 'CIAFF', 'KC', 'EGFEY', 'ACH']
['VALE', 'SPCE', 'EVGRF', 'LUMN', 'CVI', 'HIMX', 'DKNG', 'PTR', 'SID', 'SKFRY']
['VLRS', 'CTRA', 'AEG', 'PNGAY', 'PAX', 'DRH', 'WF', 'AHCHY', 'LMND', 'BCLYF']
['PTON', 'BZ', 'HST', 'CAIXY', 'GKOS', 'ESMT', 'ACDVF', 'NXE', 'EQT', 'TCNNF']
['EGIEY', 'TECK', 'IQ', 'CIHKY', 'ENLC', 'PEB', 'UTZ', 'UWMC', 'DISH', 'NVAX']
['VERX', 'CD', 'SSU', 'BDRBF', 'PK', 'CIT', 'CCJ', 'FCNCA', 'KMPR', 'MNSO']
['ULCC', 'NCLH', 'NKLA', 'CRZBY', 'PBCRY', 'GO', 'NHYDY', 'RCL', 'HLPPY', 'ABNB']
['MT', 'CCL', 'RYAAY', 'FSLY', 'ARVL', 'BPAQF', 'VRNOF', 'TEVA', 'MRRTY', 'CHKP']
['CHK', 'AAL', 'HKXCY', 'CGC', 'RPRX', 'FNMAK', 'PGR', 'CURLF', 'HDB', 'WU']
['AB', 'CAG', 'DADA', 'PILBF', 'BHP', 'IFS', 'LW', 'IVPAF', 'SHLS', 'SPR']
['CZR', 'SAM', 'DAL', 'NGLOY', 'VEOEY', 'BBL', 'TRMLF', 'FBP', 'BSM', 'W']
['CFLT', 'JKS', 'CNQ', 'THS', 'ITUB', 'MTG', 'BGS', 'UAL', 'LRENY', 'FCX']
['CUK', 'LUV', 'NMIH', 'BALY', 'PCG', 'CAH', 'SAVE', 'PGRE', 'ZIP', 'FSUGY']
['BRZE', 'TDS', 'JHG', 'SBSW', 'NLSN', 'RIO', 'XMTR', 'MMLTF', 'DNBBY', 'FRSH']

In [60]:
print(list_of_symbols[end-10:total])

['BEN', 'MAKSY', 'BXSL', 'NXST']

In [62]:
def create_placeholder(list_of_symbols):
    # Creating a placeholder string from list of symbols
    placeholder = ""
    for index, symbol in enumerate(list_of_symbols):

        # if index is equal to nine then this is last symbol and doesn't require a comma at the end
        if index == 9:
            placeholder += symbol

        # All other index's will require a comma
        else:
            placeholder += symbol + ","
    return placeholder

In [63]:
create_placeholder(list_of_symbols[end-10:total])

'BEN,MAKSY,BXSL,NXST,'

In [72]:
#list_of_symbols

In [77]:
def get_data():
    list_of_symbols = get_day_gainers()
    df = pd.DataFrame()
    total = len(list_of_symbols)
    end = ((total//10)*10)+10
    if total%10 !=0:
        for y in range(10, end, 10):
            
            x = y-10

            placeholder = create_placeholder(list_of_symbols[x:y])
            response = requests.request("GET", f'https://yfapi.net/v8/finance/spark?interval=1d&range=5y&symbols={placeholder}', headers=headers)
            data = response.json()
            
            temp = pd.DataFrame()
            # Using the function defined above to create a Data Frame
            temp = extract_date_and_price(data)

            df = pd.concat([df, temp], axis = 1)
        
        temp = pd.DataFrame()
        placeholder = create_placeholder(list_of_symbols[end-10:total])
        response = requests.request("GET", f'https://yfapi.net/v8/finance/spark?interval=1d&range=5y&symbols={placeholder}', headers=headers)
        data = response.json()

        # Using the function defined above to create a Data Frame
        temp = extract_date_and_price(data)

        df = pd.concat([df, temp], axis = 1)
    else:
        for y in range(10, end, 10):

            x = y-10

            placeholder = create_placeholder(list_of_symbols[x:y])
            response = requests.request("GET", f'https://yfapi.net/v8/finance/spark?interval=1d&range=5y&symbols={placeholder}', headers=headers)
            data = response.json()
            
            temp = pd.DataFrame()
            
            # Using the function defined above to create a Data Frame
            temp = extract_date_and_price(data)

            df = pd.concat([df, temp], axis = 1)

    return df

# Looking for how to get the business name

In [ ]:
headers = {
    'x-api-key': api_key
    }

response = requests.request("GET", 'https://yfapi.net/v8/finance/spark?interval=1d&range=max&symbols=AAPL', headers=headers)

In [4]:
data = response.json()

In [14]:
data['AAPL'].keys()

dict_keys(['symbol', 'dataGranularity', 'timestamp', 'end', 'start', 'close', 'previousClose', 'chartPreviousClose'])

    Not able to get that data with this, https://yfapi.net/v8/finance/spark, request